<div class="dashboard-container">
  <div class="chart-card">
    <h2>Tasks</h2>
    <div class="task-filter">
      <label for="taskStatusFilter">Filter tasks on Status</label>
      <mat-select class="mat-select-styles" id="taskStatusFilter" [(value)]="selectedStatus"
        (selectionChange)="filterTasks()">
        <mat-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </div>
    @if(isLoading){
      <app-skeleton-loader></app-skeleton-loader>
    }
    @else{
      <app-dynamic-table [tableData]="filteredTasks" [displayedColumns]="displayedColumnNames"></app-dynamic-table>
    }
  </div>
  <div class="chart-card">
    <app-chart [displayTask]="allTasks"></app-chart>
  </div>
</div>