.chart-skeleton-loader {
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(90deg, #f3f3f3 25%, #e8e8e8 50%, #f4f4f4 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.no-data-message {
    text-align: center;

    p {
        color: #888;
        font-size: 18px;
        font-weight: 500;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}