<ng-container *ngIf="dataSource.data.length>0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 custom-mat-table">

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef> {{ column.label }} </th>
      <td mat-cell *matCellDef="let element">
        <span [ngStyle]="{
        color: column.key === 'status' ? 'rgb(144 213 219)' : 'inherit'
      }">
          {{
          column.key === 'cost'
          ? (element[column.key] | currency: currency : 'symbol')
          : element[column.key]
          }}
        </span>
      </td>
    </ng-container>


    <ng-container *ngIf="!!actions?.length">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let action of actions">
            <mat-icon class="action-icon" matTooltip="{{ action.toolTip }}" matTooltipPosition="below"
              (click)="onActionClick(action.type, element)">
              {{ action.icon }}
            </mat-icon>
          </ng-container>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="allColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: allColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</ng-container>

<div *ngIf="dataSource.data.length === 0" class="no-data-message">
  <img src="images/no-data.jpg" alt="No Data" />
  <p>No data available</p>
</div>